//custom var
$black: #333333;
$gray: hsl(0, 0%, 93%);
$white: #fcfcfc;
$tan: hsl(0, 10%, 90%);
$green: #173932;
$green-md: #0d402a;
// $green-md: #3d5e50;
// $green-lt: hsl(156, 87%, 40%);
$green-lt: #6dac7b;

$text: 'Merriweather', serif;
$labels: 'Comfortaa', sans-serif;

$field: 0.25rem;

// fonts

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

// breakpoints
// 640px, 1024px, 1400px
$breakpoints-up: (
  'medium': '40rem',
  'large': '64rem',
  'xlarge': '87.5rem',
);
// 639px, 1023px, 1399px
$breakpoints-down: (
  'small': '39.9375rem',
  'medium': '63.9375rem',
  'large': '87.4375rem',
);

// mixins
@mixin breakpoints-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}
@mixin breakpoints-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}
